*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
}
header
{
width: 100%;
background-color: #0f171e;
padding: 20px;
position: static;
top:0;
}
.logo
{
    width:150px;
    height: 35px;
}
header .container{
    display:flex;
    justify-content:space-between; 
}

header a{
    text-decoration: none;
    margin-right: 90px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.719);
    text-align: end;
    margin-top: 3px;
}
.head1
{
    background-color:#0f171e ;
    color: white;
    border:#0f171e ;
    width: 70px;
    margin-left: 1000px;
    font-size: 15px;
    text-align: start;
    padding-top: 0px;
}
.container1
{
    position: relative;  
}
.containbody
{
    width: 100%;
    height: 730px;
    background-color: wheat;

}
.image1
{
    width: 100%;
    height: 730px;
}
.containbody1
{
    width: 40%;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 30px;

}
.text1{
    color: white;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
}
.text2
{
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 28px;
}
.button
{
    color:white;
    width: 233px;
    height: 55px;
    font-size: larger;
    border-radius: 4px;
    border-color: #16a3eb;;
    background-color: #16a3eb;;
    margin-left: 1px;
    cursor: pointer;
}
.containbody2
{
    width: 50%;
    height: 550px;
    background-color:white;
    font-weight: normal;
    float: left;
}
.text3
{
    text-decoration: none;
    color:black;
    font-size: 47px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 14px;
}
.text4
{
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 100;
}
.scontainbody4
{
    width: 50%;
    height: 550px;
    background-color:white;
    float: left;
}

.image
{
    float: left;
    width: 220px;
    height: 170px;
    margin-left: 12px;
    margin-top: 12px; 
}
.image:hover
{
    cursor: pointer;
    transform:scale(1.03);
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(116, 114, 116);  
}
.containbody5
{
    width: 100%;
    height: 550px;
    float: left;
}
.image2
{
    width: 100%;
    height: 550px;
}
.containbody51
{
    width: 50%;
    height: 271px;
    position: absolute;
    top: 1400px;
    left: 36px;
    float: left;
    
}
.containbody6
{
    width: 100%;
    height: 550px;
    background-color:violet;
    float: left;
}
.containbody61
{
    width: 50%;
    height: 301px;
    position: absolute;
    top: 1900px;
    left: 826px;
    float: left;  
}

.containbody7
{
    width: 100%;
    height: 525px;
    background-color: wheat;
    float: left;
}
.bodyimg
{
    width: 100%;
    height:525px;   
}
.containbody8
{
    width: 100%;
    height: 525px;
    background-color: blanchedalmond;
    float: left;
}
.containbody8 img
{
    width: 100%;
    height: 525px;
}
.containbody81
{
    width: 50%;
    height: 301px;
    position: absolute;
    top: 3000px;
    left: 82px;
}
.containbody9
{
    width: 100%;
    height: 150px;
    background-color:#1f1f1f ;
    float: left;
}
.containbody91
{
    width: 40%;
    height: 70px;
    margin-left: 462px;
}
.containbody92
{
    width: 50%;
    height: 80px;
    margin-left: 462px;
    float: left;
    margin-top: 0px;   
}
.containbody91 img
{
    width: 111px;
    height: 37px;
    margin-left: 268px;
    margin-top: 20px;
}
.containbody92
{
    display: flex;
    text-align: start;
    justify-content: space-between;
}
.last1
{
  width: 50%;  
  font-family: "Amazon Ember";
  font-size: 12px;
  letter-spacing: .5px;
  color: rgb(0, 110, 255);
}
.last2
{
  width: 50%;
  height: 100px;
  font-family: "Amazon Ember";
  font-size: 12px;
  letter-spacing: .5px;
  color: white;
}